body
{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    background-color: bisque;
}
.tudo
{
    width: 80%;
    height: 60vh;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 5px;
    border-radius: 5px;
}

.fila
{
    width: 100%;
    height: 7vh;   
}

.esc
{
    width:5%;
    height: 5vh;
    margin-top: 5px;
    margin-left: 15px;
    border-width: 2px;
    border-radius: 5px;
    color: white;

}

.fila1
{
    width: 100%;
    height: 10vh;
    margin-top: 2px;
    display: flex;
    flex-direction: row;
  
}

.back
{
    width: 9%;
    height: 8vh;
    margin-top: 8px;
    margin-left: 15px;
    border-width: 2px;
    border-radius: 5px;  
    color: white; 
}

.fila2
{
    width: 100%;
    height: 10vh;
    margin-top: 2px;
    display: flex;
    flex-direction: row;
  
}

.psq
{
    width: 10%;
    height: 8vh;
    margin-top: 8px;
    margin-left: 15px;
    border-width: 2px;
    border-radius: 5px; 
    color: white;   
}

.enter
{
    width: 10%;
    height: 8vh;
    margin-top: 8px;
    margin-left: 15px;
    border-width: 2px;
    border-radius: 5px;  
    color: white;    
}

.tab
{
    width: 9%;
    height: 8vh;
    margin-top: 8px;
    margin-left: 15px;
    border-width: 2px;
    border-radius: 5px;  
    color: white;   
}

.fila3
{
    width: 100%;
    height: 10vh;
    margin-top: 2px;
    display: flex;
    flex-direction: row;
   
}

.fila4
{
    width: 100%;
    height: 10vh;
    margin-top: 2px;
    display: flex;
    flex-direction: row;
   
}

.shift
{
    width: 13%;
    height: 8vh;
    margin-top: 8px;
    margin-left: 15px;
    border-width: 2px;
    border-radius: 5px;  
    color: white;
}


.fila5
{
    width: 100%;
    height: 10vh;
    margin-top: 2px;
    display: flex;
    flex-direction: row;
}

.ctrl
{
    width: 9%;
    height: 8vh;
    margin-top: 8px;
    margin-left: 15px;
    border-width: 2px;
    border-radius: 5px;
}

.alt
{
    width: 9%;
    height: 8vh;
    margin-top: 8px;
    margin-left: 15px;
    border-width: 2px;
    border-radius: 5px;
}

.space
{
    width: 40%;
    height: 8vh;
    margin-top: 8px;
    margin-left: 15px;
    border-width: 2px;
    border-radius: 5px;
}

.esquerda
{
    width: 5%;
    height: 100%;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.esq
{
    width: 80%;
    height: 3vh;
    border-width: 2px;
    border-radius: 5px;
    color: white;
}

.meio
{
    width: 5%;
    height: 100%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    color: white;
}

.mei
{
    width: 80%;
    height: 3vh;
    margin-top: 8px;
    border-width: 2px;
    border-radius: 5px;
    color: white;
}

.direita
{
    width: 5%;
    height: 100%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}


.completar
{
    width: 100%;
    height: 5vh;
}

button
{
    width: 5%;
    height: 8vh;
    margin-top: 8px;
    margin-left: 15px;
    border-width: 4px;
    border-radius: 5px;
    background-color: black;
    color: white;
    animation: button 3s linear infinite;
}

@keyframes button {
    0%
     {
      border-color: rgb(245, 245, 104)
    }
  
    25% 
    {
      border-color:rgb(77, 245, 197);
    }
  
    50% 
    {
      border-color:  rgb(68, 199, 255);
    }
    
    75%
     {
      border-color:rgb(54, 54, 255);
    }
  
    100% 
    {
      border-color:rgb(215, 84, 254);
    }
  
  }

  