body
{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}
.tudo
{
    width: 90%;
    height: 60vh;
    background-color: bisque;
    border-style: solid;
    border-width: 5px;
  
}

.fila
{
    width: 100%;
    height: 7vh;   
}

.esc
{
    width:5%;
    height: 5vh;
    margin-top: 5px;
    margin-left: 15px;
    border-width: 2px;
    border-radius: 5px;

}

.fila1
{
    width: 100%;
    height: 10vh;
    margin-top: 2px;
    display: flex;
    flex-direction: row;
  
}

.back
{
    width: 9%;
    height: 8vh;
    margin-top: 8px;
    margin-left: 15px;
    border-width: 2px;
    border-radius: 5px;   
}

.fila2
{
    width: 100%;
    height: 10vh;
    margin-top: 2px;
    display: flex;
    flex-direction: row;
  
}

.psq
{
    width: 10%;
    height: 8vh;
    margin-top: 8px;
    margin-left: 15px;
    border-width: 2px;
    border-radius: 5px;    
}

.enter
{
    width: 10%;
    height: 8vh;
    margin-top: 8px;
    margin-left: 15px;
    border-width: 2px;
    border-radius: 5px;      
}

.tab
{
    width: 9%;
    height: 8vh;
    margin-top: 8px;
    margin-left: 15px;
    border-width: 2px;
    border-radius: 5px;     
}

.fila3
{
    width: 100%;
    height: 10vh;
    margin-top: 2px;
    display: flex;
    flex-direction: row;
   
}

.fila4
{
    width: 100%;
    height: 10vh;
    margin-top: 2px;
    display: flex;
    flex-direction: row;
   
}

.shift
{
    width: 13%;
    height: 8vh;
    margin-top: 8px;
    margin-left: 15px;
    border-width: 2px;
    border-radius: 5px;  
}

.quarta
{
    width: 3%;
    height: 8vh;
    margin-top: 8px;
    margin-left: 15px;
    border-width: 2px;
    border-radius: 5px;
}
.fila5
{
    width: 100%;
    height: 10vh;
    margin-top: 2px;
    display: flex;
    flex-direction: row;
}

.ctrl
{
    width: 9%;
    height: 8vh;
    margin-top: 8px;
    margin-left: 15px;
    border-width: 2px;
    border-radius: 5px;
}

.alt
{
    width: 9%;
    height: 8vh;
    margin-top: 8px;
    margin-left: 15px;
    border-width: 2px;
    border-radius: 5px;
}

.space
{
    width: 40%;
    height: 8vh;
    margin-top: 8px;
    margin-left: 15px;
    border-width: 2px;
    border-radius: 5px;
}

.alt2
{
    width: 5%;
    height: 8vh;
    margin-top: 8px;
    margin-left: 15px;
    border-width: 2px;
    border-radius: 5px;
}

.ctrl2
{
    width: 5%;
    height: 8vh;
    margin-top: 8px;
    margin-left: 15px;
    border-width: 2px;
    border-radius: 5px;
}

.esquerda
{
    width: 5%;
    height: 100%;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.esq
{
    width: 80%;
    height: 3vh;
    border-width: 2px;
    border-radius: 5px;
}

.meio
{
    width: 5%;
    height: 100%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.mei
{
    width: 80%;
    height: 3vh;
    margin-top: 8px;
    border-width: 2px;
    border-radius: 5px;
}

.direita
{
    width: 5%;
    height: 100%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}


.completar
{
    width: 100%;
    height: 5vh;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #f3f3f3;
}

.quarta {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.quarta:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.quarta:active {
    color: #000
}

.quarta:active:after {
    background: transparent;
}

.quarta:hover:before {
    opacity: 1;
}

.quarta:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}